details {
  border: 1px solid grey;
  margin: var(--spacing-lg) 0;
  border-radius: var(--spacing-md);
}

details > summary {
  cursor: pointer;
  list-style: none;
}

details[open] > summary {
  border-bottom: 1px solid grey;
  /*margin-bottom: var(--spacing-sm);*/
}

details .internal-padding {
  padding: var(--spacing-md) var(--spacing-xl);
}
