<style>
  details {
    border: 1px solid grey;
    margin: var(--spacing-lg) 0;
    border-radius: var(--spacing-xs);
  }

  details > summary {
    cursor: pointer;
    list-style: none;
    background-color: #ddd;
    border-radius: var(--spacing-xs);
  }

  details[open] > summary {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  details[open] > summary {
    border-bottom: 1px solid grey;
  }

  .padding-md {
    padding: var(--spacing-md) var(--spacing-xl);
  }
</style>

<details class="detail-card" id="section-layout">
  <summary>
    <div class="padding-md">
      <slot name="title"></slot>
    </div>
  </summary>
  <div class="padding-md">
    <slot name="content"></slot>
  </div>
</details>
